@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
}
@media (max-width: 1023px) {
    #header{
        height: 40vh;
    }
}

